body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 0.5rem;
}

header nav a {
    text-decoration: none;
    font-size: 75%;
    color: black;
}

header .logo{
    color:red;
    font-weight: bolder;
    font-size: 150%;
}


.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}
.search-container img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.search-container input {
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 97%;
    padding-right: 10%;
    width: 80%;
}


.input-icon {
    margin-left: -1.5rem;
}

main {
    aspect-ratio: 5/4;
    border: 1px solid black;
    display: block;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1rem;
}

main span {
    font-size: 80%;
    font-weight: bold;
}

main .movie-rating {
    display:flex;
    gap: 0.8rem;
    align-items: center;
}

main .rating i {
    color: red;
    
}

.age-rating {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.2rem;
    font-size: 80%;
    font-weight: bold;
}

.duration {
    font-size: 80%;
    font-weight: bold;
}

main .description {
    width: 60%;
}

.details {
    margin-bottom: 2rem;
}

.details p {
    margin: 0.3rem 0;
    font-size: 90%;
}


.details span {
    color: red;
    font-weight: bold;
    font-size: 100%;
}


.btn-play {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.8rem 2rem;
    border-radius: 0.50rem;
}

.btn-play i {
    margin-left: -1rem;
}

.suggestion-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-heading h2 {
    font-size: 1rem;
}

.suggestion-heading a {
    text-decoration: none;
    color: black;
    font-size: 75%;
}

.suggestion-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 1rem;
}

.suggestion-item {
    border: 1px solid black;
    padding: 0.8rem;
    flex: 1;
}

.suggestion-movie-details {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin-bottom: 0.8rem;
}

.suggestion-item a {
display: inline-block;
}

.suggestion-item .btn-play {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
}

footer {
    display: flex;
    gap: 4rem;
}

footer h4 {
    margin:0;
    font-size: 0.9rem;
    

}

footer nav {
    display: flex;
    gap: 1rem;
    
}

footer nav a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
    


.footer-links {
    width: 70%;
}

.social-media {
    display: flex;
    gap: 1rem;
}

